@model FakultetAPI.ModelEF.Studenti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Studenti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrIndexa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrIndexa)
        </dd>
       
        </dl>
    <table class="table">

        <tr>
            <th>
                @Html.DisplayName("Naziv predmeta")
            </th>
            <th>
                @Html.DisplayName("Ocjena")
            </th>
        </tr>
        @foreach (var item in Model.StudentiPredmetis)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Predmeti.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocjena)
            </td>
        </tr>
        }
        </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PKStudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
