@model IEnumerable<FakultetAPI.ModelEF.Predmeti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Godina)
        </th>
        <th>
            @Html.DisplayName("Ime i prezime profesora")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Godina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesori.Ime)
            @Html.DisplayFor(modelItem => item.Profesori.Prezime)

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PKPredmetId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PKPredmetId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PKPredmetId })
        </td>
    </tr>
}

</table>
